@charset "utf-8";
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {margin:0;padding:0;}
body,button,input,select,table,textarea{line-height:1.25em;font-family:'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;}
body {margin:auto;color:#333; font-size:100px; line-height:1.25em; background-color:#f7f7f7;}
html,body{width:100%;overflow:hidden; }
fieldset,img {border:0}
ol,ul,li {list-style:none}
address,em {font-style:normal}
a {	color:#333;	text-decoration:none; outline:none}
table {	border-collapse:collapse}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
img {
  display: block;
  vertical-align: middle;;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
html{ -ms-touch-action: none;}
/* End hide from IE-mac */
.hide{display:none !important;}
.show{display: block !important;}
/*字号*/
.px20{ font-size:0.20em;}
.px22{ font-size:0.22em;}
.px24{ font-size:0.24em;}
.px26{ font-size:0.26em;}
.px28{ font-size:0.28em;}
.px30{ font-size:0.30em;}
.px32{ font-size:0.32em;}
.px34{ font-size:0.34em;}
.px36{ font-size:0.36em;}
/*flexbox*/
.flexbox{display: -webkit-box; display: -moz-box; display: box; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; -webkit-box-pack: end; -moz-box-pack: end; box-pack: end; }
.flexbox-1{ -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;}
/*wrap*/
.bg{background: #6633CC;}
.color{color: #6633CC;}
